# To execute the code in our notebook
pyomo
highspy
ortools
gurobipy

scipy
numpy

# altair
# matplotlib
# numpy
# vega_datasets

# To interactively browser Jupyter content with MyST
jupyterlab
jupyterlab_myst
